.hidden {
  display: none;
}

.under {
  position: relative;
  height: 1em;
  bottom: 0;
}

button {
  font-size: medium;
  border: 0;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
  border: none;
  outline: none;
}

.delete {
  font-size: small;
}

.true {
  text-decoration: line-through;
  color: gray;
}

.container {
  display: inline;
  min-width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
}

.wrap {
  flex-direction: column;
  display: flex;
  align-self: auto;
  overflow: scroll;
  overflow-x: hidden;
}

.card-light {
  margin: 1em;
  border-radius: 10px;
  background-color: whitesmoke;
  place-items: center;
  place-content: center;
  opacity: 0.8;
}

.card-dark {
  margin: 1em;
  border-radius: 10px;
  background-color: black;
  color: whitesmoke;
  place-items: center;
  place-content: center;
  opacity: 0.8;
}

.mode {
  margin-top: 0.2em;
  align-self: start;
  font-size: x-large;
}

.center {
  align-items: center;
  place-items: center;
  justify-content: center;
  text-align: center;
}

p {
  font-size: x-large;
}

.log-on {
  font-size: medium;
  font-weight: bold;
  margin-top: 0.7em;
  padding-bottom: 1em;
  margin-bottom: 0.8em;
  margin-left: 3em;
  margin-right: 3em;
}

.log-on:hover {
  cursor: pointer;
}

h1 {
  margin-bottom: 0;
  margin-top: 0.6em;
  font-size: 2.5em;
}
h2 {
  font-size: large;
  margin-top: 0.7em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
h3 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1.8em;
}
h5 {
  font-size: large;
  margin-top: 0.2em;
  margin-right: 0.5em;
  text-align: end;
}

.quotes {
  color: whitesmoke;
  text-shadow: 2px 1px 2px black;
  margin-left: 1.8em;
  margin-right: 1.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: large;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.line {
  border: none;
}

.write {
  border: none;
  border-bottom: 2px dashed lightgray;
}

.form {
  margin-bottom: 0.5em;
  margin-top: 0;
}

.box {
  color: gray;
  outline: none;
  width: 13em;
  height: 1.7em;
  background: transparent;
}

.empty {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.weather {
  margin-top: 2em;
  margin-bottom: 0;
  font-weight: bolder;
  font-size: small;
  align-self: center;
}

.memo-line {
  border-bottom: 2px dotted lightgray;
}

input {
  margin-left: 10em;
  margin-right: 10em;
  font-size: medium;
}

@media (max-width: 500px) {
  input {
    margin: 1;
    font-size: medium;
  }
}

input::placeholder {
  font-size: 0.8em;
  font-style: italic;
}
.todo-list {
  margin-bottom: 0.8em;
  display: inline-block;
  text-align: start;
}
span {
  margin: 0.1em;
  margin-bottom: 0.5em;
  font-size: medium;
  font-weight: bolder;
}

.left:not(.center) {
  text-align: start;
}

.edit {
  display: inline;
}

ul {
  padding-left: 0;
  margin-top: 0.2em;
  margin-bottom: 2.3em;
  margin-right: 1.2em;
  margin-left: 1.2em;
  list-style: none;
}

li {
  margin-bottom: 0.5em;
  list-style-position: outside;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

span {
  font-size: medium;
  /*border-bottom: 2px dashed lightgray;*/
}

li::marker {
  font-size: small;
}

img {
  position: absolute;
  animation: fadeIn 0.5s linear;
  top: 0;
  left: 0;
  background-size: contain;
  z-index: -1;
  background-size: fill;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

html,
body {
  height: 100vh;
}

body {
  word-break: break-all;
  white-space: normal;
  display: flex;
  -ms-overflow-style: none;
  overflow-y: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
}

::-webkit-scrollbar {
  width: 100vw;
  display: none;
}
