body{
    background-color: rgb(86, 88, 95); 
    color: whitesmoke;
    transition: color .5s ease-in-out ;
    
    }
.span{
    position: relative;
    left: 90%;
    top:90%;
    display: inline;
    font-style: italic;
}
h1{
    font-size: 80px;
    opacity: 0.9;
    font-style: Serif;
}
h2{
    font-size: 50px;
    opacity: 0.9;
    font-style: Serif;
}
.div{
    position: absolute;
}
div{
    align-content: center;
    text-align: center;
    top: 20%;
    left: 40%;
 }
.list{
display: inline-block;
}

.line{
    border: none;
    border-bottom: solid 2px whitesmoke;
    padding: 10px, 20px;
    margin: 20px;
   
}
input{
   border:none;
   padding:5px;
   background: transparent;
   font-size: 20px;
   color: whitesmoke;
   font-style: Serif;
   outline: none;
  }
  
input::placeholder{color:whitesmoke; padding:5px;font-style: Serif;}

.form,.greetings{
    display: none;
}
.showing{
    display: block;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}

.bgImage{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index:-1;
    animation: fadeIn 0.5s linear;
    background-attachment: fixed;
}